extends layout

block content
    div(class='container')
        div(class='header')
            span(data-bind='click: returnHomeClick') #{title}
            img(src='images/logo.png', data-bind='click: returnHomeClick')
            div(class='user-info')
                div(data-bind='visible: isAuthorised')
                    span Привет,
                    span(class='user-name', data-bind='text: user().name')
                    span !
                    <br/>
                    span(class='control-exit',data-bind='click: onLogoutClick') Выйти
                div(class='auth-none row', data-bind='visible: !isAuthorised()')
                    div(class='login-input')
                        span Имя
                        input(data-bind='value: loginBox')
                        <br/>
                        span Пароль
                        input(data-bind='value: pswdBox')
                    div(class='login-holder')
                        button(class='btn btn-primary', data-bind='click: onLoginClick') Войти
                    div(class='login-holder')
                        button(class='btn btn-info') ?

        div(class='page row', data-bind='visible: page() == Global.Pages.Main')
            cdiv(class='main', data-bind="foreach: movies")
                div(class='movie-container col-md-4', data-bind='click: $parent.onMovieClick')
                    div(class='movie', data-bind="style: {background: 'url('+image+')'}")
                        p(class='name', data-bind='text: name')
                        p(class='owner')
                            img(src='images/user.png')
                            span(data-bind='text: owner')

            div(class='movie-container col-md-4', data-bind='visible: isAuthorised')
                div(class='add')
                    div(class='plus', data-bind="click: addNewMovieClick") +
                        div(class='text') Добавить новое кино

        div(class='movie-add page row', data-bind='visible: page()== Global.Pages.AddMovie')
            div(class='title') Добавить новый фильм в коллекцию
            div(class='holder row')
                div(class='plus col-md-2') +
                div(class='input-holder col-md-7')
                    input(class="movie-name form-control", type="text", data-bind="value: addMovie.url")
                div(class='button-holder col-md-3')
                    button(class='btn btn-primary', data-bind="click: addMovie.btnClick") Добавить
            div(class='error row', data-bind='visible: addMovie.errorVisible')
                div(data-bind='text: addMovie.errorCaption')
                div(class='button-close', data-bind='click: addMovie.closeError') x
            div(class='info row')
                span Для добавления фильма необходимо ввести url (ссылку на него) в поле выше. На данные момент поддерживаются только ссылки с 
                span(data-bind='visible: parsers.length == 1') сайта
                span(data-bind='visible: parsers.length > 1') сайтов:
                span(data-bind='foreach: parsers')
                    a(class='parser', target='_blank' data-bind='attr: {href: "http://"+site}, text: site')

        div(class='details page row', data-bind='visible: page() == Global.Pages.Details')
            div(class='col-md-12')
                img(class='details-image', data-bind='attr:{src: movieDetails().image}')
                div(class='details-info')
                    div(class='title')
                        div(class='title-text', data-bind='text: movieDetails().name')
                        div(class='title-effect', data-bind='text: movieDetails().name')
                div(class='details-info low' data-bind='visible: movieDetails().desc')
                    div(class='desc', data-bind='text: movieDetails().desc')
                div(class='details-info low' data-bind='visible: !movieDetails().desc')
                    div(class='desc') Описание отсутствует
                div(class='details-info low')
                    div(class='desc')
                        span Этот фильм добавил пользователь:
                        img(src='images/user.png')
                        b
                            span(data-bind='text: movieDetails().owner')

    script(src='/javascripts/viewmodel.js')
    script.
        var model = !{model};
        $(document).ready(function(){
            ko.applyBindings(new Viewmodel(model));
        });