body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url(../images/bg.jpg);
}

.page{
    background: white;
    min-height: 520px;
    box-shadow: 0 0 2px black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 25px;
}

a {
    color: #00B7FF;
}

div.header{
    background: gold;
    text-align: left;
    padding-left: 95px;
    padding-bottom: 10px;
    overflow: hidden;
    font-family: 'Marck Script', cursive;
    font-size: 45pt;
    text-shadow: 2px 2px 2px rgb(148, 136, 87), 3px 3px 2px black;
    color: lightyellow;
    position: relative;
    box-shadow: 0 0 2px black;
}

div.header > img{
    position: absolute;
    left: 0px;
    cursor: pointer;
}

div.header > .user-info{
    position: absolute;
    top: 15px;
    font-size: 16pt;
    text-shadow: 1px 1px 2px black, 1px 1px 2px black;
    padding: 10px;
    border-radius: 5px;
    right: 10px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    font-family: arial;
}

div.header .user-name{
    font-weight: bold;
    font-family: 'Marck Script', cursive;
    font-size: 18pt;
    padding-left: 7px;
}

div.header span{
    cursor: pointer;
}

div.header .control-exit{
    float: right;
    font-family: arial;
    font-size: 10pt;
    cursor: pointer;
    padding-right: 2px;
    transition: 0.25s all;
    background: rgba(0,0,0,0.1);
    padding: 3px 6px;
    border-radius: 5px;
}

div.header .control-exit:hover{
    text-decoration: underline;
    color: gold;
    background: rgba(255, 255, 255, 0.25);
}

.auth-none{
    text-align: right;
}

.login-input > span{
    font-size: 14pt;
    vertical-align: text-top;
}

.login-input > input{
    width: 130px;
    height: 22px;
    margin-left: 10px;
    font-size: 16pt;
    padding: 0px 2px;
    background: white;
    border: none;
    border-radius: 3px;
}

.auth-none > .login-input{
    display: inline-block;
}

.auth-none > .login-holder{
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}

.login-holder > button{
    padding: 9px;
    margin-left: 18px;
    margin-right: 9px;
    font-weight: bold;
}

.login-holder > .btn-info{
    background-color: gold;
    color: black;
    border-radius: 50px;
    width: 28px;
    font-size: 13pt;
    padding: 2px;
    text-shadow: 0 0 10px white,0 0 5px white,0 0 2px white;
    margin-top: 5px;
    margin-left: 10px;
}

.login-holder > .btn-info:hover{
    background: white;
}

.row{
    margin: 0;
}

.menu{
    min-height: 250px;
    background: darkgray;
    color: wheat;
    padding: 16px;
    margin-top: 1px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center
}

.btn{
    transition: all 0.25s;
    box-shadow: 0px 0px 4px black;
}

.btn-group .btn{
    box-shadow: none;
}

img.exua{
    width: 28px;
    margin-right: 8px;
    margin-top: -2px;
}

.movie-container{
    padding-top: 15px;
    padding-bottom: 15px;
}

.movie{
    height: 233px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    transition: 0.45s all;
    opacity: 0.65;
    background-size: contain !important;
    background-position: center !important;
}

.movie:hover{
    box-shadow: 0 0 20px black, 0 0 10px black;
    opacity: 1;
}

.movie > .name{
    position: absolute;
    right: 10px;
    bottom: 15px;
    max-width: 340px;
    max-height: 55px;
    font-size: 15pt;
    text-align: right;
    background: white;
    padding: 5px;
    border-radius: 5px;
    padding-right: 15px;
    text-shadow: 1px 1px 5px gray;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    overflow-y: hidden;        
    opacity: 0.9;
}

.movie > .owner{
    position: absolute;
    left: 10px;
    top: 20px;
    background: white;
    padding: 3px;
    padding-right: 4px;
    border-radius: 4px;
    text-shadow: 1px 1px 5px gray;
    box-shadow: 0 0 10px black;
}

.movie > .owner > img{
    margin-right: 4px;
    margin-left: 1px;
}

.details{
    min-height: 0px;
    padding-top:25px;
    padding-bottom: 20px;
}

.details .details-image{
    max-width: 270px;
    background: lightgray;
    float: left;
    position: relative;
    min-height: 1px;
    display: block;
    margin: 0 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px black;
}

.details .details-image > img{
    max-width: 270px;
}

.details .details-info{
    float: left;
    position: relative;
    min-height: 1px;
    display: block;
    width: 100%;
    overflow: hidden;
}

.details .details-info > .title{
    box-shadow: 1px 1px 3px black;
    padding: 5px;
    font-weight: bold;
    font-size: 24pt;
    color: gray;
    text-shadow: 1px 2px 3px black;
    text-align: center;
    overflow: hidden;
}

.details .details-info > .desc{
    box-shadow: 1px 1px 3px black;
    padding: 5px;
    margin:4px;
    color: gray;
    text-align: justify;
    overflow: hidden;
}

.details .details-info.low > .desc{
    box-shadow: 0px 0px 2px darkgray;
    background: rgba(0, 0, 0, 0.03);
}

.details .details-info > .desc img{
    margin: 0 2px 0 10px;
}

.details .details-info .title-effect{
    position: absolute;
    top: 0px;
    left: 0px;
    text-shadow: 0 0 10px rgba(0,0,0,0.25);
    font-size: 38pt;
    margin: auto;
    width: 100%;
    color: transparent;
}

.details .details-info .rating{
    text-align: center;
    display: inline-block;
}

.details .details-info .rating-value{
    font-weight: bold;
}

.details .details-info .genres{
    margin-left: 5px;
    font-weight: bold;
}

.details .btn-group{
    margin: 15px 17px;
}

.details .btn-group .btn-first{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.details .icon{
    margin-left: -10px;
    margin-right: 5px;
    height: 16px;
    margin-top: -3px;
}

.add{
    height: 233px;
    border: 3px dashed gray;
    border-radius: 15px;
    margin-bottom: 15px;
}

.add > .plus{
    background: gray;
    font-size: 80px;
    color: white;
    margin: auto;
    width: 90px;
    margin-top: 65px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.15s;
}

.add > .plus > .text{
    position: absolute;
    font-size: 10pt;
    color: transparent;
    left: 125px;
    top: 150px;
    transition: all 0.15s;
}

.add > .plus:hover{
    background: white;
    color: gray;
    width: 280px;
}

.add > .plus:hover > .text{
    color: gray;
}

.movie-add > .title{
    text-align: center;
    margin-top: 25px;
    font-family: 'Marck Script', cursive;
    font-size: 22pt;
    color: gray;
}

.movie-add > .holder{
    min-height: 75px;
    background: lightgoldenrodyellow;
    margin: 0 150px;
    border: 1px dashed rgb(195, 238, 83);
    border-radius: 10px;
}

.movie-add > .holder > .plus {
    height: 75px;
    background: rgba(0, 0, 0, 0.03);
    margin: 6px;
    text-align: center;
    font-size: 75px;
    line-height: 100%;
    border-right: 1px dashed rgb(195, 238, 83);
    border-radius: 5px;
}

.movie-add > .holder > .input-holder{
    padding-top: 28px;
}

.movie-add > .holder > .button-holder {
    padding: 14px 0px;
    width: 23%;
}

.movie-add > .holder > .button-holder > button {
    width: 98%;
    height: 60px;
    font-weight: bold;
    font-size: 20pt;
}

.movie-add > .info{
    margin: 15px 150px;
    border-top: 1px dashed gray;
    padding-top: 7px;
    color: gray;
    text-align: justify;
}

.movie-add > .error {
    background: lightcoral;
    margin: 15px 150px;
    border: 1px dashed red;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    position: relative;
}

.movie-add > .error > .button-close{
    float: none;
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 12pt;
    background: black;
    opacity: 0.4;
    color: white;
    padding: 1px 7px 2px 7px;
    border-radius: 14px;
    text-shadow: none;
    cursor: pointer;
    transition: all 0.25s;
}

.movie-add > .error > .button-close:hover{
    opacity: 0.75;
}

.parser {
    margin: 0 5px;
    font-weight: bold;
}

.register-box{
    margin-top: 25px;
    text-align: center;
    margin-bottom: 0;
}

.details .caption-register{
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
}

.details .caption-login{
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}

.details .caption-login:hover, .details .caption-register:hover{
    text-decoration: underline;
}

.login{
    min-height: 0px;
    padding-bottom: 50px;
    padding-top: 25px;
}

.login > .title{
    margin-top: 25px;
    text-align: center;
    font-size: 15pt;
    color: gray;
}

.login > .title > .caption{
    font-family: 'Marck Script', cursive;
    font-size: 28pt;
    margin-bottom: 15px;
}

.login .caption > img{
    opacity: 0.5;
}

.login > .title input{
    font-size: 20pt;
    margin-bottom: 15px;
}

.login .buttons{
    margin-top: 20px;
}

.login .btn{
    margin: 5px 15px;
    font-weight: bold;
    box-shadow: none;
    font-size: 16pt;
    padding: 10px 25px;
}

.login .sitename{
    font-size: 32pt;
    font-weight: bold;
    margin-left: 15px;
}

.login .caption-register{
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    font-size: 13pt;
    color: rgb(0, 173, 255);
    margin-top: 5px;
}

.login .caption-register:hover{
    text-decoration: underline;
}